<h1 class="jumbotron">Tell Us about You</h1>
<div class="container">

<form>
    <div class="form-group">
        <h4>Enter your name</h4>
        <input type="name" class="form-control" id="name">
      </div>

    <h4>Gender</h4>
    <div class="radio">
        <label><input type="radio" name="gender" value="male">&nbsp;<i class="fa fa-male" aria-hidden="true"></i></label>
      </div>
      <div class="radio">
        <label><input type="radio" name="gender" value="female">&nbsp;<i class="fa fa-female" aria-hidden="true"></i></label>
      </div>

      <h4>Describe yourself</h4>
      <div class="radio">
          <label><input type="radio" name="describe" value="male">&nbsp;strong, but stupid</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="describe" value="female">&nbsp;weak, but intelligent</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="describe" value="female">&nbsp;perfect & balanced</label>
          </div>
          <div class="form-group">
          <button class="btn btn-warning form-control"><a routerLink="/story">Enter the Maze</a></button>
          </div>
</form>

</div>
