<h1 class="jumbotron">Welcome to Spooky Corn Maze</h1>
<div class="container">
    <!-- <div class="welcomeimage"> -->
        <img src="../../assets/img/welcome.jpg" alt="Welcome Image">
      <!-- </div> -->
      
      <div class="centered" id="box">
        <h4>Scariest digital corn maze!</h4>
        <h5>18+ because it's too scary!!</h5>
        <h6>Children, you're going to cry...</h6>
      
        <button class="btn btn-danger">Enter...you've been warned!!!!</button>
      </div>
</div>
