.jumbotron{
    background-image: url("../../assets/img/welcome-corn.jpg");
    background-position: bottom;
}
h1{
    text-align: center;
    color: orangered;

}
/* .welcomeimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    
}
#box{
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 30px 10px orangered;
}

a{
    color: white;
}