<h1 class="jumbotron">You will never Escape!!</h1>
<div class="container">

      <!-- <div *ngFor="let story of currentStory"> -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{currentStory.image1}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{currentStory.option1}}</h5>
            <a routerLink="{{currentStory.link1}}" class="btn btn-primary">Select</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{currentStory.image2}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{currentStory.option2}}</h5>
            <a routerLink="{{currentStory.link2}}" class="btn btn-primary">Submit</a>
          </div>
        </div>
        <br> <br>
        <div class="row">
          <div class="col-md 12">
            <p>{{currentStory.storyLine}}</p>
          </div>
        </div>

      <!-- </div> -->

</div>



